# --------------------------------------------------------------
#
# Author: Valdigleis (valdigleis@gmail.com)
# Data: 31/07/2023
#
# --------------------------------------------------------------

# ==============================================================
# Files system (Mac OS)
# ==============================================================
.DS_Store


# ==============================================================
# File swap of Vim
# ==============================================================
*.swp
